@model CookingBook.Web.ViewModels.Administration.Main.CategoryInMain
@{
    ViewData["Title"] = "ConfirmEdit";
}

<h2 align="center" style="margin: 4%">Edit @this.Model.Title</h2>
<label asp-for="Title"></label>
<input asp-for="Title" class="form-control" />
<span asp-validation-for="Title" class="text-danger"></span>
<div class="btn-toolbar mt-4 mb-4 d-flex justify-content-between">
    <div class="btn-group" role="group"></div>
    <div class="btn-group" role="group">
        <form asp-controller="AdminCategory" asp-action="EditById" method="post">
            <input type="submit" class="btn btn-outline-warning" value="Save Changes" />
            <input type="hidden" name="Id" value="@Model.Id" />
        </form>
    </div>
    <div class="btn-group" role="group">
        <form asp-controller="Main" asp-action="Index" method="get">
            <input type="submit" class="btn btn-outline-dark" value="Go back!" />
        </form>
    </div>
    <div class="btn-group" role="group"></div>
</div>

<vc:newest-five-recipes></vc:newest-five-recipes>