@using CookingBook.Common
@model CookingBook.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Welcome to @GlobalConstants.SystemName</h4>
    <h4>Choose a category:</h4>
</div>
<hr />
@foreach (var category in Model.Categories)
{
    <div align="center" style="margin-top: 5px">
        <a href="/Categories/ById/@category.Id">
            <img src="@category.Image" class="img-fluid" style="height: 150px; width: 100%" />
        </a>
    </div>
}
<vc:newest-five-recipes></vc:newest-five-recipes>