@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="list-group">
    <a href="/Administration/Main/EditCategories" class="list-group-item list-group-item-action">
        Edit Categories
    </a>
    <a href="/Administration/Main/EditRecipes" class="list-group-item list-group-item-action">
        Edit Recipes
    </a>
    <a href="/Administration/Main/EditUsers" class="list-group-item list-group-item-action">
        Edit Users
    </a>
</div>