@{
    ViewData["Title"] = "Index";
}


<div class="list-group" style="margin-top: 10%" align="center">
    <a href="/Administration/Main/EditCategories" class="list-group-item list-group-item-action">
        Edit Categories
    </a>
    <a href="/Administration/Main/EditRecipes" class="list-group-item list-group-item-action">
        Edit Recipes
    </a>
    <a href="/Administration/Main/EditUsers" class="list-group-item list-group-item-action">
        Edit Users
    </a>
</div>
<vc:newest-five-recipes></vc:newest-five-recipes>