@model CookingBook.Web.ViewModels.Recipes.ReviewForRecipeViewModel
@{
    ViewData["Title"] = "AddReview";
    var recipeId = Model.RecipeId.ToString();
}

<h1>AddReview</h1>

<form asp-controller="Recipes" asp-action="AddReview" method="post">
    <input type="hidden" name="recipeId" value="@this.Model.RecipeId" />
    <label asp-for="Comment"></label>
    <input asp-for="Comment" class="form-control" />
    <span asp-validation-for="Comment" class="text-danger"></span>
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>