@model CookingBook.Web.ViewModels.Categories.CategoriesListViewModel

@{
    this.ViewData["Title"] = "Add Category";
}
<h1>@this.ViewData["Title"]</h1>

@foreach (var category in this.Model.Categories)
{
    <div>
        <li>@category.Title</li>
    </div>
}